@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --primary: #0e6097; */
    /* --primary: #4cb4a7; */
    --primary: #0d7c5b;
    --light-gren: #B9E4CA;

    --primary-rgb: 13, 124, 91;
    --white: #ffffff;
    --dark: #1b1b1b;
    --primary-lighter: color-mix(in srgb, var(--primary), var(--white) 15%);
    --primary-lightest: color-mix(in srgb, var(--primary), var(--white) 30%);
    --primary-light-40: color-mix(in srgb, var(--primary), var(--white) 40%);
    --primary-light-50: color-mix(in srgb, var(--primary), var(--white) 50%);
    --primary-darker: color-mix(in srgb, var(--primary), var(--dark) 15%);
    --primary-darkest: color-mix(in srgb, var(--primary), var(--dark) 30%);
    --light-grey: #dddddd;
    --sub-heading: #292929;
    --font-primary: "Open Sans", sans-serif;
}

body {
    font-family: var(--font-primary);
    color: var(--dark);
    font-size: 16px;
    letter-spacing: -0.02rem;
    background: #EBFFF9;
}

a {
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

figure {
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
    }
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

.svg-wrapper {
    svg {
        height: 100%;
        width: 100%;
    }
}

.section-break {
    padding: 50px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

.btn-green {
    background: var(--primary);
    display: inline-block;
    border: 0;
    border-radius: 7px;
    -webkit-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
    color: var(--white);

    &:hover {
        background: var(--primary-darkest);
    }
}

.btn-white {
    background: var(--white);
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid var(--white);
    transition: 0.3s all ease-in;
    font-weight: 600;

    &:hover {
        background: none;
        color: var(--white);

        img {
            filter: brightness(11);
        }
    }
}

.container {
    max-width: 1280px;
    padding: 0 15px;
}

.h-query {
    background: var(--white);
    padding: 20px 0;

    form {
        .cstm-select-group {
            position: relative;

            &::after {
                background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
                content: '';
                position: absolute;
                top: 20px;
                right: 20px;
                width: 10px;
                height: 10px;
            }
        }

        .form-group {
            .form-control {
                width: 100%;
                padding: 10px 20px;
                background: #F3F3F3;
                text-transform: capitalize;
                border: 1px solid #f3f3f3;
                transition: 0.3s all ease;
                border-radius: 5px;

                &:hover,
                &:focus {
                    outline: 0;
                    box-shadow: none;
                    border-color: var(--primary);
                }
            }

            select.form-control {
                padding-left: 36px;
                -moz-appearance: none !important;
                -webkit-appearance: none !important;
                appearance: none !important;

                &::after {}
            }
        }

        .form-error {
            color: red;
            font-size: 13px;
        }

        .btn-green {
            width: 100%;
            max-width: 200px;
            display: flex;
            align-items: center;
            padding: 10px 0;
            justify-content: center;
            gap: 5px;

            svg {
                font-size: 20px;
            }
        }
    }

    .country-icon,
    .type-icon {
        position: relative;

        &:focus-within,
        &:hover {
            &::before {
                filter: grayscale(0);
            }
        }

        &::before {
            position: absolute;
            top: 14px;
            left: 10px;
            content: '';
            background-size: contain;
            width: 20px;
            height: 20px;
            filter: grayscale(10) contrast(0.5);
            transition: 0.3s all ease;
        }


    }

    .country-icon {
        &::before {
            background: url(./../images/icons/locat.svg) no-repeat center;
        }
    }

    .type-icon {
        &::before {
            background: url(./../images/icons/agency.png) no-repeat center;
        }


    }
}

.bg-waves {
    background: var(--light-gren);
    position: relative;
    z-index: 0;

    &::after {
        background: url('./../images/waves.png') no-repeat center;
        background-size: cover;
        inset: 0;
        content: '';
        position: absolute;
        z-index: -1;
        pointer-events: none;
    }
}

.hero-wrapper {
    overflow: hidden;

    .heading-wrapper {
        .heading {
            font-weight: 400;
        }
    }

    .hero-box {
        background-color: var(--white);
        box-shadow: 0px 5px 7px 0px rgba(13, 124, 91, 0.16);
        transition: 0.3s ease all;
        border: 1px solid var(--primary-light-40);
        padding: 20px 13px;
        font-size: 15px;

        &:hover {
            box-shadow: 0px 5px 7px 0px rgba(13, 124, 91, 0.5);
        }

        a {
            display: block;
        }

        figure {
            width: 100px;
            height: 100px;
            margin: 0 auto 30px;

            img {
                object-fit: contain;
                object-position: center;
            }
        }
    }
}

.h-tablelisting {
    .table-wrapper {
        margin-bottom: 20px;
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        display: none;
    }

    .custom-pagination {
        display: flex;
        justify-content: flex-end;

        .dataTables_paginate {
            font-size: 14px;
            margin-right: 30px;

            .paginate_button {
                background: var(--white);
                border: 0.5px solid rgba(27, 27, 27, 0.3);
                margin: 0;
                border-radius: 0;
                cursor: pointer !important;
                padding: 8px 14px;

                &.last {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &.first {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:hover {
                    border-color: var(--primary);
                    color: var(--primary) !important;
                    background: var(--white);
                }

                &.current {
                    background: var(--primary);
                    color: var(--white) !important;
                    border-color: var(--primary);
                }


            }
        }

        .dataTables_info {
            font-size: 14px;
            font-weight: 600;
        }
    }

    table.dataTable.no-footer {
        border-bottom: 0;
        margin-bottom: 20px;
    }

    table {
        background: var(--white);
        font-size: 15px;

        thead {
            background: var(--primary);
            color: var(--white);

            th {
                font-weight: 400;
                padding: 13px 10px !important;

                &.sorting::after {
                    display: none !important;
                }

                &.sorting::before {
                    display: none !important;
                }
            }
        }


        tbody {
            tr {
                &:not(:last-child) {
                    td {
                        border-bottom: 1px solid var(--light-gren);
                    }
                }
            }

            td {
                padding: 14px 10px;
                font-weight: 500;
            }
        }

        .star-group {
            svg {
                fill: rgba(102, 115, 131, 0.69);
            }

            .star {
                svg {
                    fill: rgb(255, 171, 45);
                }
            }
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration-color: var(--primary);
                text-decoration-thickness: 2px;
            }
        }

        .agency-logo {
            img {
                width: 40px;
                height: 40px;
                border: 1px solid var(--primary);
                border-radius: 5px;
                object-fit: contain;
                object-position: center;
                padding: 3px;
            }
        }
    }
}

.h-registerform {
    background: var(--primary);

    &::after {
        opacity: 0.2;
    }

    .heading-wrapper {
        .sub-heading {
            font-size: 30px;
            color: var(--white);
            font-weight: 400;
        }
    }

    form {
        background: var(--white);
        padding: 26px;

        .form-error {
            color: red;
            font-size: 13px;
        }

        .form-label {
            display: block;
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 6px;
        }

        .photo-group {
            position: relative;

            .form-control {
                opacity: 0;
                width: 151px;
                height: 41px;
                position: absolute;
                top: 29px;
                left: 0;
                z-index: 1;

                &:hover {
                    cursor: pointer;

                    ~.btn-group .photo-btn {
                        opacity: 0.9;
                    }
                }
            }

            .btn-group {
                /* position: absolute; */
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                /* bottom: 0; */
                /* left: 0; */
                /* pointer-events: none; */
            }

            .photo-btn {
                background: #484848;
                padding: 10px 20px;
                font-size: 14px;
                display: inline-flex;
                gap: 10px;
                color: var(--white);
                font-weight: 500;
                cursor: pointer;
            }

            #imageName {
                font-size: 14px;
                margin-left: 10px;
            }
        }

        .form-control {
            border: 1px solid var(--primary-light-40);
            display: block;
            width: 100%;
            padding: 9px 10px 9px 10px;
            font-size: 14px;

            &:hover,
            &:focus {
                outline: 0;
                box-shadow: none;
                border-color: var(--primary);
            }
        }
    }

    .side-figure {
        .side-success {
            color: rgba(12, 116, 208, 1);
            background: linear-gradient(90deg, #FFFFFF 0%, #E4E4E4 100%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            text-align: center;
            border-radius: 21px;
            padding: 20px;

            .star svg {
                width: 18px;
                height: 18px;

                path {

                    fill: rgba(11, 138, 101, 1);
                }
            }

            h3 {
                font-weight: 700;
                font-size: 22px;
            }
        }

        .figure-wrapper {
            figure {
                max-width: 300px;
                width: 100%;
                height: 300px;
                margin: 0 auto;

                img {
                    object-fit: scale-down;
                    object-position: center;
                }
            }

            .svg-wrapper {
                filter: drop-shadow(0px 4px 15px rgba(15, 51, 40, 0.1));

                svg {
                    path {
                        fill: rgba(11, 138, 101, 1);
                    }
                }
            }
        }
    }
}

.h-benefit {
    background: var(--light-gren);

    .heading-wrapper {
        margin-bottom: 40px;
    }

    .sub-heading {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }

    .benefit-group {
        margin-bottom: 40px;

        h4 {
            background: rgba(72, 72, 72, 1);
            border-radius: 15px 15px 0px 0px;
            color: var(--white);
            display: inline-block;
            padding: 6px 20px;
        }
    }

    .benefit-box {
        background: var(--white);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(var(--primary-rgb), 0.35);
        padding: 30px;

        li {
            display: flex;
            align-items: center;
            gap: 20px;

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: scale-down;
                object-position: center;
            }

            p {
                font-weight: 600;
            }
        }
    }

    .benefit-figure {
        padding: 60px 0;

        .svg-wrapper {
            max-width: 260px;
        }

        .absolute {
            top: 0;
            right: 0;
            width: 100%;
            max-width: 190px;
            background: var(--white);
            padding: 20px;
            border-radius: 5px;

            &::after {
                position: absolute;
                top: 50%;
                right: 100%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-right: 20px solid var(--white);
                border-bottom: 15px solid transparent;
                content: '';
            }

            h6 {
                text-align: center;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .h-benefit .benefit-figure .svg-wrapper {
        max-width: 180px;
    }


    .h-benefit .benefit-figure .absolute {
        padding: 10px;
        max-width: 170px;

        h6 {
            font-size: 14px;
        }
    }

    .h-tablelisting {
        .table-wrapper {
            background:
                radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)),
                radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) 100% 0;
            background-color: white;
            background-repeat: no-repeat;
            background-size: 10px 100%;
            overflow-x: scroll;
        }

        table {
            background:
                linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
                linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
            background-size: 50px 100%;
            background-repeat: no-repeat;
            max-width: none;
            width: 100%;

            * {
                width: max-content !important;
            }

            td,
            th {
                padding: 14px 18px;
            }
        }
    }


}

@media only screen and (max-width: 768px) {


    .hero-wrapper {
        .heading-wrapper {
            margin-bottom: 0;

            .heading {
                font-size: 26px;
                font-weight: 600;
            }
        }

        .hero-box {
            figure {
                margin: 0 auto;
                width: 80px;
                height: 80px;
            }

            h3 {
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                /* overflow: hidden; */
                display: inherit;
                overflow-y: clip;
            }


        }
    }

    .h-benefit .sub-heading {
        font-weight: 600;
    }

    .h-benefit .benefit-figure .svg-wrapper {
        max-width: 160px;
    }

    .h-benefit .benefit-figure .absolute {
        max-width: 160px;
    }

    .h-tablelisting table thead th {
        padding: 13px 21px !important;
    }
}

@media only screen and (max-width: 639px) {
    .h-query {
        background: var(--light-gren);

        form .form-group .form-control {
            background: rgba(235, 255, 249, 0.6);
            border: 2px solid rgba(22, 164, 122, 0.15);

            &::placeholder {
                color: var(--dark);
            }
        }
    }

    .hero-wrapper {
        .hero-box {
            figure {
                margin-bottom: 10px;
            }

            h3 {
                font-size: 13px;
            }
        }
    }

    .h-benefit {
        .benefit-group {
            margin: 0 -15px;

            h4 {
                display: block;
                font-size: 16px;
                border-radius: 0;
                background: var(--dark);
                padding: 14px;
                text-align: center;
            }
        }

        .benefit-box {
            ul {
                display: flex;
                flex-wrap: wrap;
                row-gap: 20px;
                align-items: flex-start;

                li {
                    flex: 0 0 auto;
                    width: 50%;
                    flex-direction: column;
                    text-align: center;

                    &:not(:last-child) {
                        margin-bottom: 0;
                    }

                    p {
                        max-width: 120px;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .benefit-figure {
            .svg-wrapper {
                max-width: 270px;


                .absolute {
                    max-width: 160px;
                    padding: 10px;

                    h6 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .h-tablelisting {
        .table-wrapper {
            background: none;
        }

        table {
            background: none;
            border: 0;
            font-size: 15px;

            * {
                width: auto !important;

            }

            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                left: 0;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px !important;
            }

            tbody {
                tr {
                    display: block;
                    margin-bottom: 20px;
                    padding: 90px 0 30px;
                    box-shadow: 0px 5px 7px 0px rgba(13, 124, 91, 0.16);
                    transition: 0.3s ease all;
                    border: 1px solid var(--primary-light-40);
                    background: var(--white);
                    width: 100%;
                }

                td {
                    border-bottom: 0 !important;
                    display: block;
                    position: relative;
                    padding-left: 60px;

                    &[data-label="S.No."] {
                        display: none;
                    }

                    &[data-label="Name"],
                    &[data-label="Location"],
                    &[data-label="Type"],
                    &[data-label="Rating"],
                    &[data-label="Website"] {
                        &::after {
                            position: absolute;
                            left: 26px;
                            top: 16px;
                            content: '';
                            width: 20px;
                            height: 20px;
                        }
                    }

                    &[data-label="Name"] {
                        position: relative;

                        &::after {
                            background: url('./../images/icons/agency.png') no-repeat center;
                        }

                        img {
                            position: absolute;
                            top: -70px;
                            width: 70px;
                            height: 70px;
                            border: 0;
                            right: 40%;
                        }
                    }

                    &[data-label="Location"]::after {
                        background: url('./../images/icons/locat.svg') no-repeat center;
                    }

                    &[data-label="Type"]::after {
                        background: url('./../images/icons/type.svg') no-repeat center;
                    }

                    &[data-label="Rating"]::after {
                        background: url('./../images/icons/rating.svg') no-repeat center;
                    }

                    &[data-label="Website"]::after {
                        background: url('./../images/icons/web.svg') no-repeat center;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }

                    &::before {
                        content: attr(data-label);
                        float: left;
                        font-weight: 600;
                        font-family: var(--font-primary);
                        text-transform: capitalize;
                        width: 100px;
                    }
                }
            }
        }
    }

    .h-tablelisting .custom-pagination {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .dataTables_paginate {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 400px) {
    .h-tablelisting table tbody td {
        padding-left: 45px;
        padding-right: 10px;
    }

    .h-tablelisting {
        table tbody {
            td {

                &[data-label="Name"],
                &[data-label="Location"],
                &[data-label="Type"],
                &[data-label="Rating"],
                &[data-label="Website"] {
                    &::after {
                        left: 16px;
                    }
                }
            }
        }
    }

    .h-registerform form .photo-group {
        /* .absolute {
            flex-direction: column;
        }

        .form-control {
            height: 63px;
        }

        #imageName {
            margin: 0;
        } */
    }
}